In [1]:
import pandas as pd

# 提取各个州的温度数据

In [2]:
# 读入温度数据，数据格式为df，利用index_col=""设列GHCN_ID为行索引
f1path="./hly-temp-allall.csv"
df_temp=pd.read_csv(f1path,index_col="GHCN_ID")
df_temp

,month,day,hour,HLY-TEMP-NORMAL,meas_flag_HLY-TEMP-NORMAL,comp_flag_HLY-TEMP-NORMAL,years_HLY-TEMP-NORMAL,HLY-TEMP-10PCTL,meas_flag_HLY-TEMP-10PCTL,comp_flag_HLY-TEMP-10PCTL,years_HLY-TEMP-10PCTL,HLY-TEMP-90PCTL,meas_flag_HLY-TEMP-90PCTL,comp_flag_HLY-TEMP-90PCTL,years_HLY-TEMP-90PCTL
GHCN_ID,,,,,,,,,,,,,,,
AQW00061705,1,1,0,80.8,,S,29,77.7,,S,29,83.3,,S,29
AQW00061705,1,1,1,80.5,,S,29,77.5,,S,29,83.1,,S,29
AQW00061705,1,1,2,80.3,,S,29,77.2,,S,29,83.1,,S,29
AQW00061705,1,1,3,80.1,,S,29,76.8,,S,29,83.3,,S,29
AQW00061705,1,1,4,79.9,,S,29,76.6,,S,29,82.4,,S,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VQW00011640,12,31,19,77.5,,S,30,75.0,,S,30,79.0,,S,30
VQW00011640,12,31,20,77.2,,S,30,75.0,,S,30,79.0,,S,30
VQW00011640,12,31,21,77.1,,S,30,73.9,,S,30,79.0,,S,30
VQW00011640,12,31,22,76.8,,S,30,73.9,,S,30,79.0,,S,30
VQW00011640,12,31,23,76.6,,S,30,73.9,,S,30,79.0,,S,30

In [3]:
#由于usecols没有切片功能，提取前六列所需数据
df_temp=df_temp.loc[:,"month":"comp_flag_HLY-TEMP-NORMAL"]
df_temp

,month,day,hour,HLY-TEMP-NORMAL,meas_flag_HLY-TEMP-NORMAL,comp_flag_HLY-TEMP-NORMAL
GHCN_ID,,,,,,
AQW00061705,1,1,0,80.8,,S
AQW00061705,1,1,1,80.5,,S
AQW00061705,1,1,2,80.3,,S
AQW00061705,1,1,3,80.1,,S
AQW00061705,1,1,4,79.9,,S
...,...,...,...,...,...,...
VQW00011640,12,31,19,77.5,,S
VQW00011640,12,31,20,77.2,,S
VQW00011640,12,31,21,77.1,,S
VQW00011640,12,31,22,76.8,,S
VQW00011640,12,31,23,76.6,,S

In [4]:
# 读入观测站inventory数据，利用usecols=[]读取指定的列，利用index_col=""设列ID为行索引
f2path="./hly_inventory.xlsx"
df_inventory=pd.read_excel(f2path,usecols=["ID","STATE"],index_col="ID")#只读取前两列数据，设列ID为行索引index
df_inventory

            STATE
ID
AQW00061705    AS
CQC00914855    MP
FMW00040308    FM
FMW00040504    FM
GQW00041414    GU
...           ...
USW00094994    WI
USW00094995    NE
USW00094996    NE
VQW00011624    VI
VQW00011640    VI

[1150 rows x 1 columns]

In [5]:
# 删除非美国本土的州的温度数据
# 利用df[df["列名"]=="元素名字"].index提取非美国本土的州的观测站ID
del_ID=df_inventory[(df_inventory["STATE"]=="AK")|(df_inventory["STATE"]=="HI")
                   |(df_inventory["STATE"]=="AS")|(df_inventory["STATE"]=="GU")
                   |(df_inventory["STATE"]=="MP")|(df_inventory["STATE"]=="VI")
                   |(df_inventory["STATE"]=="FM")|(df_inventory["STATE"]=="MH")
                   |(df_inventory["STATE"]=="PW")].index

# 把提取的ID由series变为list
del_ID=del_ID.values.tolist()

In [6]:
# 利用df.drop(index=)函数，删除含del_ID的行的数据。默认axis=0,删除行的元素。axis=1,删除列的元素。
# 不能inplace=True，否则只会返回None
df_temp=df_temp.drop(index=del_ID)

In [7]:
df_temp

,month,day,hour,HLY-TEMP-NORMAL,meas_flag_HLY-TEMP-NORMAL,comp_flag_HLY-TEMP-NORMAL
GHCN_ID,,,,,,
USC00027855,1,1,0,26.2,,S
USC00027855,1,1,1,25.6,,S
USC00027855,1,1,2,25.1,,S
USC00027855,1,1,3,24.8,,S
USC00027855,1,1,4,24.2,,S
...,...,...,...,...,...,...
USW00094996,12,31,19,25.1,,S
USW00094996,12,31,20,24.2,,S
USW00094996,12,31,21,23.4,,S
USW00094996,12,31,22,22.7,,S
USW00094996,12,31,23,22.2,,S

In [219]:
# AL
# 在观测站inventory文件，提取州为AL的行索引
AL_ID=df_inventory[df_inventory["STATE"]=="AL"].index
# 把提取的行索引转为list
AL_ID=AL_ID.values.tolist()
# 根据提取的AL观测站ID，在温度数据df提取相应的行数据
df_AL=df_temp.loc[AL_ID,:]
df_AL

,month,day,hour,HLY-TEMP-NORMAL,meas_flag_HLY-TEMP-NORMAL,comp_flag_HLY-TEMP-NORMAL
GHCN_ID,,,,,,
USW00003850,1,1,0,47.5,,S
USW00003850,1,1,1,46.7,,S
USW00003850,1,1,2,46.2,,S
USW00003850,1,1,3,45.7,,S
USW00003850,1,1,4,45.5,,S
...,...,...,...,...,...,...
USW00093806,12,31,19,47.7,,S
USW00093806,12,31,20,46.2,,S
USW00093806,12,31,21,45.2,,S
USW00093806,12,31,22,44.7,,S
USW00093806,12,31,23,44.0,,S

In [9]:
# AR
# 在观测站inventory文件，提取州为AR的行索引
AR_ID=df_inventory[df_inventory["STATE"]=="AR"].index
# 把提取的行索引转为list
AR_ID=AR_ID.values.tolist()
# 根据提取的AR观测站ID，在温度数据df提取相应的行数据
df_AR=df_temp.loc[AR_ID,:]

In [10]:
#AZ
# 在观测站inventory文件，提取州为AZ的行索引
AZ_ID=df_inventory[df_inventory["STATE"]=="AZ"].index
# 把提取的行索引转为list
AZ_ID=AZ_ID.values.tolist()
# 根据提取的AZ观测站ID，在温度数据df提取相应的行数据
df_AZ=df_temp.loc[AZ_ID,:]

In [11]:
#CA
# 在观测站inventory文件，提取州为CA的行索引
CA_ID=df_inventory[df_inventory["STATE"]=="CA"].index
# 把提取的行索引转为list
CA_ID=CA_ID.values.tolist()
# 根据提取的CA观测站ID，在温度数据df提取相应的行数据
df_CA=df_temp.loc[CA_ID,:]

In [12]:
#CO
# 在观测站inventory文件，提取州为CO的行索引
CO_ID=df_inventory[df_inventory["STATE"]=="CO"].index
# 把提取的行索引转为list
CO_ID=CO_ID.values.tolist()
# 根据提取的CO观测站ID，在温度数据df提取相应的行数据
df_CO=df_temp.loc[CO_ID,:]

In [13]:
#CT
# 在观测站inventory文件，提取州为CT的行索引
CT_ID=df_inventory[df_inventory["STATE"]=="CT"].index
# 把提取的行索引转为list
CT_ID=CT_ID.values.tolist()
# 根据提取的CT观测站ID，在温度数据df提取相应的行数据
df_CT=df_temp.loc[CT_ID,:]

In [14]:
#DE
# 在观测站inventory文件，提取州为DE的行索引
DE_ID=df_inventory[df_inventory["STATE"]=="DE"].index
# 把提取的行索引转为list
DE_ID=DE_ID.values.tolist()
# 根据提取的DE观测站ID，在温度数据df提取相应的行数据
df_DE=df_temp.loc[DE_ID,:]

In [15]:
#FL
# 在观测站inventory文件，提取州为FL的行索引
FL_ID=df_inventory[df_inventory["STATE"]=="FL"].index
# 把提取的行索引转为list
FL_ID=FL_ID.values.tolist()
# 根据提取的FL观测站ID，在温度数据df提取相应的行数据
df_FL=df_temp.loc[FL_ID,:]

In [16]:
#GA
# 在观测站inventory文件，提取州为GA的行索引
GA_ID=df_inventory[df_inventory["STATE"]=="GA"].index
# 把提取的行索引转为list
GA_ID=GA_ID.values.tolist()
# 根据提取的GA观测站ID，在温度数据df提取相应的行数据
df_GA=df_temp.loc[GA_ID,:]

In [17]:
#IA
# 在观测站inventory文件，提取州为IA的行索引
IA_ID=df_inventory[df_inventory["STATE"]=="IA"].index
# 把提取的行索引转为list
IA_ID=IA_ID.values.tolist()
# 根据提取的IA观测站ID，在温度数据df提取相应的行数据
df_IA=df_temp.loc[IA_ID,:]

In [18]:
#ID
# 在观测站inventory文件，提取州为ID的行索引
ID_ID=df_inventory[df_inventory["STATE"]=="ID"].index
# 把提取的行索引转为list
ID_ID=ID_ID.values.tolist()
# 根据提取的ID观测站ID，在温度数据df提取相应的行数据
df_ID=df_temp.loc[ID_ID,:]

In [19]:
#IN
# 在观测站inventory文件，提取州为IN的行索引
IN_ID=df_inventory[df_inventory["STATE"]=="IN"].index
# 把提取的行索引转为list
IN_ID=IN_ID.values.tolist()
# 根据提取的IN观测站ID，在温度数据df提取相应的行数据
df_IN=df_temp.loc[IN_ID,:]

In [20]:
#IL
# 在观测站inventory文件，提取州为IL的行索引
IL_ID=df_inventory[df_inventory["STATE"]=="IL"].index
# 把提取的行索引转为list
IL_ID=IL_ID.values.tolist()
# 根据提取的IL观测站ID，在温度数据df提取相应的行数据
df_IL=df_temp.loc[IL_ID,:]

In [21]:
#KS
# 在观测站inventory文件，提取州为KS的行索引
KS_ID=df_inventory[df_inventory["STATE"]=="KS"].index
# 把提取的行索引转为list
KS_ID=KS_ID.values.tolist()
# 根据提取的KS观测站ID，在温度数据df提取相应的行数据
df_KS=df_temp.loc[KS_ID,:]

In [22]:
#KY
# 在观测站inventory文件，提取州为KY的行索引
KY_ID=df_inventory[df_inventory["STATE"]=="KY"].index
# 把提取的行索引转为list
KY_ID=KY_ID.values.tolist()
# 根据提取的KY观测站ID，在温度数据df提取相应的行数据
df_KY=df_temp.loc[KY_ID,:]

In [23]:
#LA
# 在观测站inventory文件，提取州为LA的行索引
LA_ID=df_inventory[df_inventory["STATE"]=="LA"].index
# 把提取的行索引转为list
LA_ID=LA_ID.values.tolist()
# 根据提取的LA观测站ID，在温度数据df提取相应的行数据
df_LA=df_temp.loc[LA_ID,:]

In [24]:
#MA
# 在观测站inventory文件，提取州为MA的行索引
MA_ID=df_inventory[df_inventory["STATE"]=="MA"].index
# 把提取的行索引转为list
MA_ID=MA_ID.values.tolist()
# 根据提取的MA观测站ID，在温度数据df提取相应的行数据
df_MA=df_temp.loc[MA_ID,:]

In [25]:
#MD
# 在观测站inventory文件，提取州为MD的行索引
MD_ID=df_inventory[df_inventory["STATE"]=="MD"].index
# 把提取的行索引转为list
MD_ID=MD_ID.values.tolist()
# 根据提取的MD观测站ID，在温度数据df提取相应的行数据
df_MD=df_temp.loc[MD_ID,:]

In [26]:
#ME
# 在观测站inventory文件，提取州为ME的行索引
ME_ID=df_inventory[df_inventory["STATE"]=="ME"].index
# 把提取的行索引转为list
ME_ID=ME_ID.values.tolist()
# 根据提取的ME观测站ID，在温度数据df提取相应的行数据
df_ME=df_temp.loc[ME_ID,:]

In [27]:
#MI
# 在观测站inventory文件，提取州为MI的行索引
MI_ID=df_inventory[df_inventory["STATE"]=="MI"].index
# 把提取的行索引转为list
MI_ID=MI_ID.values.tolist()
# 根据提取的MI观测站ID，在温度数据df提取相应的行数据
df_MI=df_temp.loc[MI_ID,:]

In [28]:
#MN
# 在观测站inventory文件，提取州为MN的行索引
MN_ID=df_inventory[df_inventory["STATE"]=="MN"].index
# 把提取的行索引转为list
MN_ID=MN_ID.values.tolist()
# 根据提取的MN观测站ID，在温度数据df提取相应的行数据
df_MN=df_temp.loc[MN_ID,:]

In [29]:
#MO
# 在观测站inventory文件，提取州为MO的行索引
MO_ID=df_inventory[df_inventory["STATE"]=="MO"].index
# 把提取的行索引转为list
MO_ID=MO_ID.values.tolist()
# 根据提取的MO观测站ID，在温度数据df提取相应的行数据
df_MO=df_temp.loc[MO_ID,:]

In [30]:
#MS
# 在观测站inventory文件，提取州为MS的行索引
MS_ID=df_inventory[df_inventory["STATE"]=="MS"].index
# 把提取的行索引转为list
MS_ID=MS_ID.values.tolist()
# 根据提取的MS观测站ID，在温度数据df提取相应的行数据
df_MS=df_temp.loc[MS_ID,:]

In [31]:
#MT
# 在观测站inventory文件，提取州为MT的行索引
MT_ID=df_inventory[df_inventory["STATE"]=="MT"].index
# 把提取的行索引转为list
MT_ID=MT_ID.values.tolist()
# 根据提取的MT观测站ID，在温度数据df提取相应的行数据
df_MT=df_temp.loc[MT_ID,:]

In [32]:
#NC
# 在观测站inventory文件，提取州为NC的行索引
NC_ID=df_inventory[df_inventory["STATE"]=="NC"].index
# 把提取的行索引转为list
NC_ID=NC_ID.values.tolist()
# 根据提取的NC观测站ID，在温度数据df提取相应的行数据
df_NC=df_temp.loc[NC_ID,:]

In [33]:
#ND
# 在观测站inventory文件，提取州为ND的行索引
ND_ID=df_inventory[df_inventory["STATE"]=="ND"].index
# 把提取的行索引转为list
ND_ID=ND_ID.values.tolist()
# 根据提取的ND观测站ID，在温度数据df提取相应的行数据
df_ND=df_temp.loc[ND_ID,:]

In [34]:
#NE
# 在观测站inventory文件，提取州为NE的行索引
NE_ID=df_inventory[df_inventory["STATE"]=="NE"].index
# 把提取的行索引转为list
NE_ID=NE_ID.values.tolist()
# 根据提取的NE观测站ID，在温度数据df提取相应的行数据
df_NE=df_temp.loc[NE_ID,:]

In [35]:
#NH
# 在观测站inventory文件，提取州为NH的行索引
NH_ID=df_inventory[df_inventory["STATE"]=="NH"].index
# 把提取的行索引转为list
NH_ID=NH_ID.values.tolist()
# 根据提取的NH观测站ID，在温度数据df提取相应的行数据
df_NH=df_temp.loc[NH_ID,:]

In [36]:
#NJ
# 在观测站inventory文件，提取州为NJ的行索引
NJ_ID=df_inventory[df_inventory["STATE"]=="NJ"].index
# 把提取的行索引转为list
NJ_ID=NJ_ID.values.tolist()
# 根据提取的NJ观测站ID，在温度数据df提取相应的行数据
df_NJ=df_temp.loc[NJ_ID,:]

In [37]:
#NM
# 在观测站inventory文件，提取州为NM的行索引
NM_ID=df_inventory[df_inventory["STATE"]=="NM"].index
# 把提取的行索引转为list
NM_ID=NM_ID.values.tolist()
# 根据提取的NM观测站ID，在温度数据df提取相应的行数据
df_NM=df_temp.loc[NM_ID,:]

In [38]:
#NV
# 在观测站inventory文件，提取州为NV的行索引
NV_ID=df_inventory[df_inventory["STATE"]=="NV"].index
# 把提取的行索引转为list
NV_ID=NV_ID.values.tolist()
# 根据提取的NV观测站ID，在温度数据df提取相应的行数据
df_NV=df_temp.loc[NV_ID,:]

In [39]:
#NY
# 在观测站inventory文件，提取州为NY的行索引
NY_ID=df_inventory[df_inventory["STATE"]=="NY"].index
# 把提取的行索引转为list
NY_ID=NY_ID.values.tolist()
# 根据提取的NY观测站ID，在温度数据df提取相应的行数据
df_NY=df_temp.loc[NY_ID,:]

In [40]:
#OH
# 在观测站inventory文件，提取州为OH的行索引
OH_ID=df_inventory[df_inventory["STATE"]=="OH"].index
# 把提取的行索引转为list
OH_ID=OH_ID.values.tolist()
# 根据提取的OH观测站ID，在温度数据df提取相应的行数据
df_OH=df_temp.loc[OH_ID,:]

In [41]:
#OK
# 在观测站inventory文件，提取州为OK的行索引
OK_ID=df_inventory[df_inventory["STATE"]=="OK"].index
# 把提取的行索引转为list
OK_ID=OK_ID.values.tolist()
# 根据提取的OK观测站ID，在温度数据df提取相应的行数据
df_OK=df_temp.loc[OK_ID,:]

In [42]:
#OR
# 在观测站inventory文件，提取州为OR的行索引
OR_ID=df_inventory[df_inventory["STATE"]=="OR"].index
# 把提取的行索引转为list
OR_ID=OR_ID.values.tolist()
# 根据提取的OR观测站ID，在温度数据df提取相应的行数据
df_OR=df_temp.loc[OR_ID,:]

In [43]:
#PA
# 在观测站inventory文件，提取州为PA的行索引
PA_ID=df_inventory[df_inventory["STATE"]=="PA"].index
# 把提取的行索引转为list
PA_ID=PA_ID.values.tolist()
# 根据提取的PA观测站ID，在温度数据df提取相应的行数据
df_PA=df_temp.loc[PA_ID,:]

In [44]:
#RI
# 在观测站inventory文件，提取州为RI的行索引
RI_ID=df_inventory[df_inventory["STATE"]=="RI"].index
# 把提取的行索引转为list
RI_ID=RI_ID.values.tolist()
# 根据提取的RI观测站ID，在温度数据df提取相应的行数据
df_RI=df_temp.loc[RI_ID,:]

In [45]:
#SC
# 在观测站inventory文件，提取州为SC的行索引
SC_ID=df_inventory[df_inventory["STATE"]=="SC"].index
# 把提取的行索引转为list
SC_ID=SC_ID.values.tolist()
# 根据提取的SC观测站ID，在温度数据df提取相应的行数据
df_SC=df_temp.loc[SC_ID,:]

In [46]:
#SD
# 在观测站inventory文件，提取州为SD的行索引
SD_ID=df_inventory[df_inventory["STATE"]=="SD"].index
# 把提取的行索引转为list
SD_ID=SD_ID.values.tolist()
# 根据提取的SD观测站ID，在温度数据df提取相应的行数据
df_SD=df_temp.loc[SD_ID,:]

In [47]:
#TN
# 在观测站inventory文件，提取州为TN的行索引
TN_ID=df_inventory[df_inventory["STATE"]=="TN"].index
# 把提取的行索引转为list
TN_ID=TN_ID.values.tolist()
# 根据提取的TN观测站ID，在温度数据df提取相应的行数据
df_TN=df_temp.loc[TN_ID,:]

In [48]:
#TX
# 在观测站inventory文件，提取州为TX的行索引
TX_ID=df_inventory[df_inventory["STATE"]=="TX"].index
# 把提取的行索引转为list
TX_ID=TX_ID.values.tolist()
# 根据提取的TX观测站ID，在温度数据df提取相应的行数据
df_TX=df_temp.loc[TX_ID,:]

In [49]:
#UT
# 在观测站inventory文件，提取州为UT的行索引
UT_ID=df_inventory[df_inventory["STATE"]=="UT"].index
# 把提取的行索引转为list
UT_ID=UT_ID.values.tolist()
# 根据提取的UT观测站ID，在温度数据df提取相应的行数据
df_UT=df_temp.loc[UT_ID,:]

In [50]:
#VA
# 在观测站inventory文件，提取州为VA的行索引
VA_ID=df_inventory[df_inventory["STATE"]=="VA"].index
# 把提取的行索引转为list
VA_ID=VA_ID.values.tolist()
# 根据提取的VA观测站ID，在温度数据df提取相应的行数据
df_VA=df_temp.loc[VA_ID,:]

In [51]:
#VT
# 在观测站inventory文件，提取州为VT的行索引
VT_ID=df_inventory[df_inventory["STATE"]=="VT"].index
# 把提取的行索引转为list
VT_ID=VT_ID.values.tolist()
# 根据提取的VT观测站ID，在温度数据df提取相应的行数据
df_VT=df_temp.loc[VT_ID,:]

In [52]:
#WA
# 在观测站inventory文件，提取州为WA的行索引
WA_ID=df_inventory[df_inventory["STATE"]=="WA"].index
# 把提取的行索引转为list
WA_ID=WA_ID.values.tolist()
# 根据提取的WA观测站ID，在温度数据df提取相应的行数据
df_WA=df_temp.loc[WA_ID,:]

In [53]:
#WI
# 在观测站inventory文件，提取州为WI的行索引
WI_ID=df_inventory[df_inventory["STATE"]=="WI"].index
# 把提取的行索引转为list
WI_ID=WI_ID.values.tolist()
# 根据提取的WI观测站ID，在温度数据df提取相应的行数据
df_WI=df_temp.loc[WI_ID,:]

In [54]:
#WV
# 在观测站inventory文件，提取州为WV的行索引
WV_ID=df_inventory[df_inventory["STATE"]=="WV"].index
# 把提取的行索引转为list
WV_ID=WV_ID.values.tolist()
# 根据提取的WV观测站ID，在温度数据df提取相应的行数据
df_WV=df_temp.loc[WV_ID,:]

In [276]:
#WY
# 在观测站inventory文件，提取州为WY的行索引
WY_ID=df_inventory[df_inventory["STATE"]=="WY"].index
# 把提取的行索引转为list
WY_ID=WY_ID.values.tolist()
# 根据提取的WY观测站ID，在温度数据df提取相应的行数据
df_WY=df_temp.loc[WY_ID,:]

# 计算各个州每小时的平均温度

In [56]:
# 从全部温度数据筛选出各州的数据后，先利用.drop（df[df[""所在列]==删除值].index）剔除含有-9999，即缺失值的行
# 然后直接使用分类汇总函数（groupby）统计每小时的平均温度，无需先对各州数据按照时间降序排列数据才能做分类汇总
# 最后对分类汇总后的数据按时间降序排列，并重设行索引，并drop掉原行索引，保证数据列按时间降序排列，并且行索引是从0开始。
# 如果不重设行索引，对分类汇总后的数据按时间降序排列后，行索引是从一个大数至0递减的。

In [57]:
# 删除缺失值的测试过程
# .drop后必须要赋值
# df_AL=df_AL.drop(df_AL[df_AL["HLY-TEMP-NORMAL"]==-9999].index)

# .rename的inplace不要等于True，否则会warning。如果inplace=True，也用等号赋值，就会返回None。
# df_AL.rename(columns={"HLY-TEMP-NORMAL":"HLY_TEMP_NORMAL"})

# any函数检查-9999值是否去除成功
# any(df_AL.HLY_TEMP_NORMAL == -9999)

In [58]:
# 按多列对df数据进行排序

# 使用排序函数.sort_values()对df按多列的值进行排序,ascending=False降序排列。
# 语法：df.sort_values(by=["按哪些列排序，顺序表明优先级",""],ascending=False)[["需要显示的数据列","",""]]
# kind=mergesort，使用稳定的排序算法
# 例子:
# df_AL=df_AL.sort_values(by=["month","day","hour"],ascending=False)[["month","day","hour","HLY-TEMP-NORMAL","meas_flag_HLY-TEMP-NORMAL","comp_flag_HLY-TEMP-NORMAL"]]

In [220]:
# AL
# 删除含缺失数据的行
df_AL=df_AL.drop(df_AL[df_AL["HLY-TEMP-NORMAL"]== -9999].index)
# 按时间分类汇总，计算每小时的平均温度
df_AL=df_AL.groupby(["month","day","hour"],as_index=False).mean()
# 按时间对分类汇总后数据降序排列，此时行索引也是降序排列的
df_AL=df_AL.sort_values(by=["month","day","hour"],ascending=False)
# 重设行index并把旧的index删除,保证行索引从0递增
df_AL=df_AL.reset_index(drop=True)
df_AL

      month  day  hour  HLY-TEMP-NORMAL
0        12   31    23        43.607407
1        12   31    22        44.181481
2        12   31    21        44.829630
3        12   31    20        45.562963
4        12   31    19        46.559259
...     ...  ...   ...              ...
8755      1    1     4        41.451852
8756      1    1     3        41.825926
8757      1    1     2        42.192593
8758      1    1     1        42.600000
8759      1    1     0        43.070370

[8760 rows x 4 columns]

In [60]:
# AR
df_AR=df_AR.drop(df_AR[df_AR["HLY-TEMP-NORMAL"]== -9999].index)
df_AR=df_AR.groupby(["month","day","hour"],as_index=False).mean()
df_AR=df_AR.sort_values(by=["month","day","hour"],ascending=False)
df_AR=df_AR.reset_index(drop=True)

In [61]:
# AZ
df_AZ=df_AZ.drop(df_AZ[df_AZ["HLY-TEMP-NORMAL"]== -9999].index)
df_AZ=df_AZ.groupby(["month","day","hour"],as_index=False).mean()
df_AZ=df_AZ.sort_values(by=["month","day","hour"],ascending=False)
df_AZ=df_AZ.reset_index(drop=True)

In [62]:
# CA
df_CA=df_CA.drop(df_CA[df_CA["HLY-TEMP-NORMAL"]== -9999].index)
df_CA=df_CA.groupby(["month","day","hour"],as_index=False).mean()
df_CA=df_CA.sort_values(by=["month","day","hour"],ascending=False)
df_CA=df_CA.reset_index(drop=True)

In [63]:
# CO
df_CO=df_CO.drop(df_CO[df_CO["HLY-TEMP-NORMAL"]== -9999].index)
df_CO=df_CO.groupby(["month","day","hour"],as_index=False).mean()
df_CO=df_CO.sort_values(by=["month","day","hour"],ascending=False)
df_CO=df_CO.reset_index(drop=True)

In [64]:
# CT
df_CT=df_CT.drop(df_CT[df_CT["HLY-TEMP-NORMAL"]== -9999].index)
df_CT=df_CT.groupby(["month","day","hour"],as_index=False).mean()
df_CT=df_CT.sort_values(by=["month","day","hour"],ascending=False)
df_CT=df_CT.reset_index(drop=True)

In [65]:
# DE
df_DE=df_DE.drop(df_DE[df_DE["HLY-TEMP-NORMAL"]== -9999].index)
df_DE=df_DE.groupby(["month","day","hour"],as_index=False).mean()
df_DE=df_DE.sort_values(by=["month","day","hour"],ascending=False)
df_DE=df_DE.reset_index(drop=True)

In [66]:
# FL
df_FL=df_FL.drop(df_FL[df_FL["HLY-TEMP-NORMAL"]== -9999].index)
df_FL=df_FL.groupby(["month","day","hour"],as_index=False).mean()
df_FL=df_FL.sort_values(by=["month","day","hour"],ascending=False)
df_FL=df_FL.reset_index(drop=True)

In [67]:
# GA
df_GA=df_GA.drop(df_GA[df_GA["HLY-TEMP-NORMAL"]== -9999].index)
df_GA=df_GA.groupby(["month","day","hour"],as_index=False).mean()
df_GA=df_GA.sort_values(by=["month","day","hour"],ascending=False)
df_GA=df_GA.reset_index(drop=True)

In [68]:
# IA
df_IA=df_IA.drop(df_IA[df_IA["HLY-TEMP-NORMAL"]== -9999].index)
df_IA=df_IA.groupby(["month","day","hour"],as_index=False).mean()
df_IA=df_IA.sort_values(by=["month","day","hour"],ascending=False)
df_IA=df_IA.reset_index(drop=True)

In [69]:
# ID
df_ID=df_ID.drop(df_ID[df_ID["HLY-TEMP-NORMAL"]== -9999].index)
df_ID=df_ID.groupby(["month","day","hour"],as_index=False).mean()
df_ID=df_ID.sort_values(by=["month","day","hour"],ascending=False)
df_ID=df_ID.reset_index(drop=True)

In [70]:
# IL
df_IL=df_IL.drop(df_IL[df_IL["HLY-TEMP-NORMAL"]== -9999].index)
df_IL=df_IL.groupby(["month","day","hour"],as_index=False).mean()
df_IL=df_IL.sort_values(by=["month","day","hour"],ascending=False)
df_IL=df_IL.reset_index(drop=True)

In [71]:
# IN
df_IN=df_IN.drop(df_IN[df_IN["HLY-TEMP-NORMAL"]== -9999].index)
df_IN=df_IN.groupby(["month","day","hour"],as_index=False).mean()
df_IN=df_IN.sort_values(by=["month","day","hour"],ascending=False)
df_IN=df_IN.reset_index(drop=True)

In [72]:
# KS
df_KS=df_KS.drop(df_KS[df_KS["HLY-TEMP-NORMAL"]== -9999].index)
df_KS=df_KS.groupby(["month","day","hour"],as_index=False).mean()
df_KS=df_KS.sort_values(by=["month","day","hour"],ascending=False)
df_KS=df_KS.reset_index(drop=True)

In [73]:
# KY
df_KY=df_KY.drop(df_KY[df_KY["HLY-TEMP-NORMAL"]== -9999].index)
df_KY=df_KY.groupby(["month","day","hour"],as_index=False).mean()
df_KY=df_KY.sort_values(by=["month","day","hour"],ascending=False)
df_KY=df_KY.reset_index(drop=True)

In [74]:
# LA
df_LA=df_LA.drop(df_LA[df_LA["HLY-TEMP-NORMAL"]== -9999].index)
df_LA=df_LA.groupby(["month","day","hour"],as_index=False).mean()
df_LA=df_LA.sort_values(by=["month","day","hour"],ascending=False)
df_LA=df_LA.reset_index(drop=True)

In [75]:
# MA
df_MA=df_MA.drop(df_MA[df_MA["HLY-TEMP-NORMAL"]== -9999].index)
df_MA=df_MA.groupby(["month","day","hour"],as_index=False).mean()
df_MA=df_MA.sort_values(by=["month","day","hour"],ascending=False)
df_MA=df_MA.reset_index(drop=True)

In [76]:
# MD
df_MD=df_MD.drop(df_MD[df_MD["HLY-TEMP-NORMAL"]== -9999].index)
df_MD=df_MD.groupby(["month","day","hour"],as_index=False).mean()
df_MD=df_MD.sort_values(by=["month","day","hour"],ascending=False)
df_MD=df_MD.reset_index(drop=True)

In [77]:
# ME
df_ME=df_ME.drop(df_ME[df_ME["HLY-TEMP-NORMAL"]== -9999].index)
df_ME=df_ME.groupby(["month","day","hour"],as_index=False).mean()
df_ME=df_ME.sort_values(by=["month","day","hour"],ascending=False)
df_ME=df_ME.reset_index(drop=True)

In [78]:
# MI
df_MI=df_MI.drop(df_MI[df_MI["HLY-TEMP-NORMAL"]== -9999].index)
df_MI=df_MI.groupby(["month","day","hour"],as_index=False).mean()
df_MI=df_MI.sort_values(by=["month","day","hour"],ascending=False)
df_MI=df_MI.reset_index(drop=True)

In [79]:
# MN
df_MN=df_MN.drop(df_MN[df_MN["HLY-TEMP-NORMAL"]== -9999].index)
df_MN=df_MN.groupby(["month","day","hour"],as_index=False).mean()
df_MN=df_MN.sort_values(by=["month","day","hour"],ascending=False)
df_MN=df_MN.reset_index(drop=True)

In [80]:
# MO
df_MO=df_MO.drop(df_MO[df_MO["HLY-TEMP-NORMAL"]== -9999].index)
df_MO=df_MO.groupby(["month","day","hour"],as_index=False).mean()
df_MO=df_MO.sort_values(by=["month","day","hour"],ascending=False)
df_MO=df_MO.reset_index(drop=True)

In [81]:
# MS
df_MS=df_MS.drop(df_MS[df_MS["HLY-TEMP-NORMAL"]== -9999].index)
df_MS=df_MS.groupby(["month","day","hour"],as_index=False).mean()
df_MS=df_MS.sort_values(by=["month","day","hour"],ascending=False)
df_MS=df_MS.reset_index(drop=True)

In [82]:
# MT
df_MT=df_MT.drop(df_MT[df_MT["HLY-TEMP-NORMAL"]== -9999].index)
df_MT=df_MT.groupby(["month","day","hour"],as_index=False).mean()
df_MT=df_MT.sort_values(by=["month","day","hour"],ascending=False)
df_MT=df_MT.reset_index(drop=True)

In [83]:
# NC
df_NC=df_NC.drop(df_NC[df_NC["HLY-TEMP-NORMAL"]== -9999].index)
df_NC=df_NC.groupby(["month","day","hour"],as_index=False).mean()
df_NC=df_NC.sort_values(by=["month","day","hour"],ascending=False)
df_NC=df_NC.reset_index(drop=True)

In [84]:
# ND
df_ND=df_ND.drop(df_ND[df_ND["HLY-TEMP-NORMAL"]== -9999].index)
df_ND=df_ND.groupby(["month","day","hour"],as_index=False).mean()
df_ND=df_ND.sort_values(by=["month","day","hour"],ascending=False)
df_ND=df_ND.reset_index(drop=True)

In [85]:
# NE
df_NE=df_NE.drop(df_NE[df_NE["HLY-TEMP-NORMAL"]== -9999].index)
df_NE=df_NE.groupby(["month","day","hour"],as_index=False).mean()
df_NE=df_NE.sort_values(by=["month","day","hour"],ascending=False)
df_NE=df_NE.reset_index(drop=True)

In [86]:
# NH
df_NH=df_NH.drop(df_NH[df_NH["HLY-TEMP-NORMAL"]== -9999].index)
df_NH=df_NH.groupby(["month","day","hour"],as_index=False).mean()
df_NH=df_NH.sort_values(by=["month","day","hour"],ascending=False)
df_NH=df_NH.reset_index(drop=True)

In [87]:
# NJ
df_NJ=df_NJ.drop(df_NJ[df_NJ["HLY-TEMP-NORMAL"]== -9999].index)
df_NJ=df_NJ.groupby(["month","day","hour"],as_index=False).mean()
df_NJ=df_NJ.sort_values(by=["month","day","hour"],ascending=False)
df_NJ=df_NJ.reset_index(drop=True)

In [88]:
# NM
df_NM=df_NM.drop(df_NM[df_NM["HLY-TEMP-NORMAL"]== -9999].index)
df_NM=df_NM.groupby(["month","day","hour"],as_index=False).mean()
df_NM=df_NM.sort_values(by=["month","day","hour"],ascending=False)
df_NM=df_NM.reset_index(drop=True)

In [89]:
# NV
df_NV=df_NV.drop(df_NV[df_NV["HLY-TEMP-NORMAL"]== -9999].index)
df_NV=df_NV.groupby(["month","day","hour"],as_index=False).mean()
df_NV=df_NV.sort_values(by=["month","day","hour"],ascending=False)
df_NV=df_NV.reset_index(drop=True)

In [90]:
# NY
df_NY=df_NY.drop(df_NY[df_NY["HLY-TEMP-NORMAL"]== -9999].index)
df_NY=df_NY.groupby(["month","day","hour"],as_index=False).mean()
df_NY=df_NY.sort_values(by=["month","day","hour"],ascending=False)
df_NY=df_NY.reset_index(drop=True)

In [91]:
# OH
df_OH=df_OH.drop(df_OH[df_OH["HLY-TEMP-NORMAL"]== -9999].index)
df_OH=df_OH.groupby(["month","day","hour"],as_index=False).mean()
df_OH=df_OH.sort_values(by=["month","day","hour"],ascending=False)
df_OH=df_OH.reset_index(drop=True)

In [92]:
# OK
df_OK=df_OK.drop(df_OK[df_OK["HLY-TEMP-NORMAL"]== -9999].index)
df_OK=df_OK.groupby(["month","day","hour"],as_index=False).mean()
df_OK=df_OK.sort_values(by=["month","day","hour"],ascending=False)
df_OK=df_OK.reset_index(drop=True)

In [93]:
# OR
df_OR=df_OR.drop(df_OR[df_OR["HLY-TEMP-NORMAL"]== -9999].index)
df_OR=df_OR.groupby(["month","day","hour"],as_index=False).mean()
df_OR=df_OR.sort_values(by=["month","day","hour"],ascending=False)
df_OR=df_OR.reset_index(drop=True)

In [94]:
# PA
df_PA=df_PA.drop(df_PA[df_PA["HLY-TEMP-NORMAL"]== -9999].index)
df_PA=df_PA.groupby(["month","day","hour"],as_index=False).mean()
df_PA=df_PA.sort_values(by=["month","day","hour"],ascending=False)
df_PA=df_PA.reset_index(drop=True)

In [95]:
# RI
df_RI=df_RI.drop(df_RI[df_RI["HLY-TEMP-NORMAL"]== -9999].index)
df_RI=df_RI.groupby(["month","day","hour"],as_index=False).mean()
df_RI=df_RI.sort_values(by=["month","day","hour"],ascending=False)
df_RI=df_RI.reset_index(drop=True)

In [96]:
# SC
df_SC=df_SC.drop(df_SC[df_SC["HLY-TEMP-NORMAL"]== -9999].index)
df_SC=df_SC.groupby(["month","day","hour"],as_index=False).mean()
df_SC=df_SC.sort_values(by=["month","day","hour"],ascending=False)
df_SC=df_SC.reset_index(drop=True)

In [97]:
# SD
df_SD=df_SD.drop(df_SD[df_SD["HLY-TEMP-NORMAL"]== -9999].index)
df_SD=df_SD.groupby(["month","day","hour"],as_index=False).mean()
df_SD=df_SD.sort_values(by=["month","day","hour"],ascending=False)
df_SD=df_SD.reset_index(drop=True)

In [98]:
# TN
df_TN=df_TN.drop(df_TN[df_TN["HLY-TEMP-NORMAL"]== -9999].index)
df_TN=df_TN.groupby(["month","day","hour"],as_index=False).mean()
df_TN=df_TN.sort_values(by=["month","day","hour"],ascending=False)
df_TN=df_TN.reset_index(drop=True)

In [99]:
# TX
df_TX=df_TX.drop(df_TX[df_TX["HLY-TEMP-NORMAL"]== -9999].index)
df_TX=df_TX.groupby(["month","day","hour"],as_index=False).mean()
df_TX=df_TX.sort_values(by=["month","day","hour"],ascending=False)
df_TX=df_TX.reset_index(drop=True)

In [100]:
# UT
df_UT=df_UT.drop(df_UT[df_UT["HLY-TEMP-NORMAL"]== -9999].index)
df_UT=df_UT.groupby(["month","day","hour"],as_index=False).mean()
df_UT=df_UT.sort_values(by=["month","day","hour"],ascending=False)
df_UT=df_UT.reset_index(drop=True)

In [101]:
# VA
df_VA=df_VA.drop(df_VA[df_VA["HLY-TEMP-NORMAL"]== -9999].index)
df_VA=df_VA.groupby(["month","day","hour"],as_index=False).mean()
df_VA=df_VA.sort_values(by=["month","day","hour"],ascending=False)
df_VA=df_VA.reset_index(drop=True)

In [102]:
# VT
df_VT=df_VT.drop(df_VT[df_VT["HLY-TEMP-NORMAL"]== -9999].index)
df_VT=df_VT.groupby(["month","day","hour"],as_index=False).mean()
df_VT=df_VT.sort_values(by=["month","day","hour"],ascending=False)
df_VT=df_VT.reset_index(drop=True)

In [103]:
# WA
df_WA=df_WA.drop(df_WA[df_WA["HLY-TEMP-NORMAL"]== -9999].index)
df_WA=df_WA.groupby(["month","day","hour"],as_index=False).mean()
df_WA=df_WA.sort_values(by=["month","day","hour"],ascending=False)
df_WA=df_WA.reset_index(drop=True)

In [104]:
# WI
df_WI=df_WI.drop(df_WI[df_WI["HLY-TEMP-NORMAL"]== -9999].index)
df_WI=df_WI.groupby(["month","day","hour"],as_index=False).mean()
df_WI=df_WI.sort_values(by=["month","day","hour"],ascending=False)
df_WI=df_WI.reset_index(drop=True)

In [105]:
# WV
df_WV=df_WV.drop(df_WV[df_WV["HLY-TEMP-NORMAL"]== -9999].index)
df_WV=df_WV.groupby(["month","day","hour"],as_index=False).mean()
df_WV=df_WV.sort_values(by=["month","day","hour"],ascending=False)
df_WV=df_WV.reset_index(drop=True)

In [277]:
# WY
df_WY=df_WY.drop(df_WY[df_WY["HLY-TEMP-NORMAL"]== -9999].index)
df_WY=df_WY.groupby(["month","day","hour"],as_index=False).mean()
df_WY=df_WY.sort_values(by=["month","day","hour"],ascending=False)
df_WY=df_WY.reset_index(drop=True)

In [278]:
df_WY

      month  day  hour  HLY-TEMP-NORMAL
0        12   31    23           16.585
1        12   31    22           16.990
2        12   31    21           17.470
3        12   31    20           18.075
4        12   31    19           18.800
...     ...  ...   ...              ...
8755      1    1     4           15.105
8756      1    1     3           15.340
8757      1    1     2           15.535
8758      1    1     1           15.885
8759      1    1     0           16.270

[8760 rows x 4 columns]

# 拼接为三年的数据

In [145]:
# 返回1月的index。使用.index[0]把提取的行index转换为int，使得这个index的值可以作为之后代码的输入
end_Jan=df_WY[(df_WY["month"]==1)&(df_WY["day"]==31)&(df_WY["hour"]==23)].index[0]
start_Jan=df_WY[(df_WY["month"]==1)&(df_WY["day"]==1)&(df_WY["hour"]==0)].index[0]

# 返回2月28日的index
end_Feb28=df_WY[(df_WY["month"]==2)&(df_WY["day"]==28)&(df_WY["hour"]==23)].index[0]
start_Feb28=df_WY[(df_WY["month"]==2)&(df_WY["day"]==28)&(df_WY["hour"]==0)].index[0]

8016

In [213]:
# 把df_Feb29的day列的28换成29的测试代码
# 使用函数.replace(要替换的数据，替换后的值，inplace=True对原数据真正进行替换)
# df_WY_Feb29.loc[:,"day"]=df_WY_Feb29["day"].replace(28,29)
# df_WY_Feb29=df_WY_Feb29.reset_index(drop=True)
# df_WY_Feb29

    month  day  hour  HLY-TEMP-NORMAL
0       2   29    23           23.630
1       2   29    22           24.455
2       2   29    21           25.290
3       2   29    20           26.295
4       2   29    19           27.720
5       2   29    18           30.100
6       2   29    17           33.400
7       2   29    16           34.835
8       2   29    15           35.200
9       2   29    14           34.800
10      2   29    13           33.820
11      2   29    12           32.200
12      2   29    11           30.040
13      2   29    10           27.335
14      2   29     9           24.375
15      2   29     8           21.195
16      2   29     7           19.075
17      2   29     6           19.325
18      2   29     5           19.695
19      2   29     4           20.115
20      2   29     3           20.565
21      2   29     2           21.120
22      2   29     1           21.605
23      2   29     0           22.190

In [221]:
# AL
# 由于2020年有2月29日，其他年份没有，因此首先#提取2月28日的数据作为2月29日的数据
df_AL_Feb29=pd.DataFrame(df_AL.loc[end_Feb28:start_Feb28,:])
# 拼接2020年的df。提取后直接拼接即可，不要换day的标签了。
df_AL_2020=pd.concat([df_AL.loc[:end_Feb28-1,:],df_AL_Feb29,df_AL.loc[end_Feb28:,:]],axis=0)
# 把各州一年的温度数据拼接成3年加一个一月。顺序依次为2022年1月，2021年，2020年，2019年
df_AL=pd.concat([df_AL.loc[end_Jan:start_Jan,:],df_AL.loc[:,:],df_AL_2020,df_AL.loc[:,:]],axis=0)
# 重置行index
df_AL=df_AL.reset_index(drop=True)
df_AL

       month  day  hour  HLY-TEMP-NORMAL
0          1   31    23        43.425926
1          1   31    22        44.137037
2          1   31    21        44.977778
3          1   31    20        45.962963
4          1   31    19        47.333333
...      ...  ...   ...              ...
27043      1    1     4        41.451852
27044      1    1     3        41.825926
27045      1    1     2        42.192593
27046      1    1     1        42.600000
27047      1    1     0        43.070370

[27048 rows x 4 columns]

In [274]:
df_AL

       month  day  hour  HLY-TEMP-NORMAL
0          1   31    23        43.425926
1          1   31    22        44.137037
2          1   31    21        44.977778
3          1   31    20        45.962963
4          1   31    19        47.333333
...      ...  ...   ...              ...
27043      1    1     4        41.451852
27044      1    1     3        41.825926
27045      1    1     2        42.192593
27046      1    1     1        42.600000
27047      1    1     0        43.070370

[27048 rows x 4 columns]

In [222]:
# AR
df_AR_Feb29=pd.DataFrame(df_AR.loc[end_Feb28:start_Feb28,:])
df_AR_2020=pd.concat([df_AR.loc[:end_Feb28-1,:],df_AR_Feb29,df_AR.loc[end_Feb28:,:]],axis=0)
df_AR=pd.concat([df_AR.loc[end_Jan:start_Jan,:],df_AR.loc[:,:],df_AR_2020,df_AR.loc[:,:]],axis=0)
df_AR=df_AR.reset_index(drop=True)

In [223]:
# AZ
df_AZ_Feb29=pd.DataFrame(df_AZ.loc[end_Feb28:start_Feb28,:])
df_AZ_2020=pd.concat([df_AZ.loc[:end_Feb28-1,:],df_AZ_Feb29,df_AZ.loc[end_Feb28:,:]],axis=0)
df_AZ=pd.concat([df_AZ.loc[end_Jan:start_Jan,:],df_AZ.loc[:,:],df_AZ_2020,df_AZ.loc[:,:]],axis=0)
df_AZ=df_AZ.reset_index(drop=True)

In [224]:
# CA
df_CA_Feb29=pd.DataFrame(df_CA.loc[end_Feb28:start_Feb28,:])
df_CA_2020=pd.concat([df_CA.loc[:end_Feb28-1,:],df_CA_Feb29,df_CA.loc[end_Feb28:,:]],axis=0)
df_CA=pd.concat([df_CA.loc[end_Jan:start_Jan,:],df_CA.loc[:,:],df_CA_2020,df_CA.loc[:,:]],axis=0)
df_CA=df_CA.reset_index(drop=True)

In [225]:
# CO
df_CO_Feb29=pd.DataFrame(df_CO.loc[end_Feb28:start_Feb28,:])
df_CO_2020=pd.concat([df_CO.loc[:end_Feb28-1,:],df_CO_Feb29,df_CO.loc[end_Feb28:,:]],axis=0)
df_CO=pd.concat([df_CO.loc[end_Jan:start_Jan,:],df_CO.loc[:,:],df_CO_2020,df_CO.loc[:,:]],axis=0)
df_CO=df_CO.reset_index(drop=True)

In [226]:
# CT
df_CT_Feb29=pd.DataFrame(df_CT.loc[end_Feb28:start_Feb28,:])
df_CT_2020=pd.concat([df_CT.loc[:end_Feb28-1,:],df_CT_Feb29,df_CT.loc[end_Feb28:,:]],axis=0)
df_CT=pd.concat([df_CT.loc[end_Jan:start_Jan,:],df_CT.loc[:,:],df_CT_2020,df_CT.loc[:,:]],axis=0)
df_CT=df_CT.reset_index(drop=True)

In [227]:
# DE
df_DE_Feb29=pd.DataFrame(df_DE.loc[end_Feb28:start_Feb28,:])
df_DE_2020=pd.concat([df_DE.loc[:end_Feb28-1,:],df_DE_Feb29,df_DE.loc[end_Feb28:,:]],axis=0)
df_DE=pd.concat([df_DE.loc[end_Jan:start_Jan,:],df_DE.loc[:,:],df_DE_2020,df_DE.loc[:,:]],axis=0)
df_DE=df_DE.reset_index(drop=True)

In [228]:
# FL
df_FL_Feb29=pd.DataFrame(df_FL.loc[end_Feb28:start_Feb28,:])
df_FL_2020=pd.concat([df_FL.loc[:end_Feb28-1,:],df_FL_Feb29,df_FL.loc[end_Feb28:,:]],axis=0)
df_FL=pd.concat([df_FL.loc[end_Jan:start_Jan,:],df_FL.loc[:,:],df_FL_2020,df_FL.loc[:,:]],axis=0)
df_FL=df_FL.reset_index(drop=True)

In [229]:
# GA
df_GA_Feb29=pd.DataFrame(df_GA.loc[end_Feb28:start_Feb28,:])
df_GA_2020=pd.concat([df_GA.loc[:end_Feb28-1,:],df_GA_Feb29,df_GA.loc[end_Feb28:,:]],axis=0)
df_GA=pd.concat([df_GA.loc[end_Jan:start_Jan,:],df_GA.loc[:,:],df_GA_2020,df_GA.loc[:,:]],axis=0)
df_GA=df_GA.reset_index(drop=True)

In [230]:
# IA
df_IA_Feb29=pd.DataFrame(df_IA.loc[end_Feb28:start_Feb28,:])
df_IA_2020=pd.concat([df_IA.loc[:end_Feb28-1,:],df_IA_Feb29,df_IA.loc[end_Feb28:,:]],axis=0)
df_IA=pd.concat([df_IA.loc[end_Jan:start_Jan,:],df_IA.loc[:,:],df_IA_2020,df_IA.loc[:,:]],axis=0)
df_IA=df_IA.reset_index(drop=True)

In [231]:
# ID
df_ID_Feb29=pd.DataFrame(df_ID.loc[end_Feb28:start_Feb28,:])
df_ID_2020=pd.concat([df_ID.loc[:end_Feb28-1,:],df_ID_Feb29,df_ID.loc[end_Feb28:,:]],axis=0)
df_ID=pd.concat([df_ID.loc[end_Jan:start_Jan,:],df_ID.loc[:,:],df_ID_2020,df_ID.loc[:,:]],axis=0)
df_ID=df_ID.reset_index(drop=True)

In [232]:
# IL
df_IL_Feb29=pd.DataFrame(df_IL.loc[end_Feb28:start_Feb28,:])
df_IL_2020=pd.concat([df_IL.loc[:end_Feb28-1,:],df_IL_Feb29,df_IL.loc[end_Feb28:,:]],axis=0)
df_IL=pd.concat([df_IL.loc[end_Jan:start_Jan,:],df_IL.loc[:,:],df_IL_2020,df_IL.loc[:,:]],axis=0)
df_IL=df_IL.reset_index(drop=True)

In [233]:
# IN
df_IN_Feb29=pd.DataFrame(df_IN.loc[end_Feb28:start_Feb28,:])
df_IN_2020=pd.concat([df_IN.loc[:end_Feb28-1,:],df_IN_Feb29,df_IN.loc[end_Feb28:,:]],axis=0)
df_IN=pd.concat([df_IN.loc[end_Jan:start_Jan,:],df_IN.loc[:,:],df_IN_2020,df_IN.loc[:,:]],axis=0)
df_IN=df_IN.reset_index(drop=True)

In [234]:
# KS
df_KS_Feb29=pd.DataFrame(df_KS.loc[end_Feb28:start_Feb28,:])
df_KS_2020=pd.concat([df_KS.loc[:end_Feb28-1,:],df_KS_Feb29,df_KS.loc[end_Feb28:,:]],axis=0)
df_KS=pd.concat([df_KS.loc[end_Jan:start_Jan,:],df_KS.loc[:,:],df_KS_2020,df_KS.loc[:,:]],axis=0)
df_KS=df_KS.reset_index(drop=True)

In [235]:
# KY
df_KY_Feb29=pd.DataFrame(df_KY.loc[end_Feb28:start_Feb28,:])
df_KY_2020=pd.concat([df_KY.loc[:end_Feb28-1,:],df_KY_Feb29,df_KY.loc[end_Feb28:,:]],axis=0)
df_KY=pd.concat([df_KY.loc[end_Jan:start_Jan,:],df_KY.loc[:,:],df_KY_2020,df_KY.loc[:,:]],axis=0)
df_KY=df_KY.reset_index(drop=True)

In [236]:
# LA
df_LA_Feb29=pd.DataFrame(df_LA.loc[end_Feb28:start_Feb28,:])
df_LA_2020=pd.concat([df_LA.loc[:end_Feb28-1,:],df_LA_Feb29,df_LA.loc[end_Feb28:,:]],axis=0)
df_LA=pd.concat([df_LA.loc[end_Jan:start_Jan,:],df_LA.loc[:,:],df_LA_2020,df_LA.loc[:,:]],axis=0)
df_LA=df_LA.reset_index(drop=True)

In [237]:
# MA
df_MA_Feb29=pd.DataFrame(df_MA.loc[end_Feb28:start_Feb28,:])
df_MA_2020=pd.concat([df_MA.loc[:end_Feb28-1,:],df_MA_Feb29,df_MA.loc[end_Feb28:,:]],axis=0)
df_MA=pd.concat([df_MA.loc[end_Jan:start_Jan,:],df_MA.loc[:,:],df_MA_2020,df_MA.loc[:,:]],axis=0)
df_MA=df_MA.reset_index(drop=True)

In [238]:
# MD
df_MD_Feb29=pd.DataFrame(df_MD.loc[end_Feb28:start_Feb28,:])
df_MD_2020=pd.concat([df_MD.loc[:end_Feb28-1,:],df_MD_Feb29,df_MD.loc[end_Feb28:,:]],axis=0)
df_MD=pd.concat([df_MD.loc[end_Jan:start_Jan,:],df_MD.loc[:,:],df_MD_2020,df_MD.loc[:,:]],axis=0)
df_MD=df_MD.reset_index(drop=True)

In [239]:
# ME
df_ME_Feb29=pd.DataFrame(df_ME.loc[end_Feb28:start_Feb28,:])
df_ME_2020=pd.concat([df_ME.loc[:end_Feb28-1,:],df_ME_Feb29,df_ME.loc[end_Feb28:,:]],axis=0)
df_ME=pd.concat([df_ME.loc[end_Jan:start_Jan,:],df_ME.loc[:,:],df_ME_2020,df_ME.loc[:,:]],axis=0)
df_ME=df_ME.reset_index(drop=True)

In [240]:
# MI
df_MI_Feb29=pd.DataFrame(df_MI.loc[end_Feb28:start_Feb28,:])
df_MI_2020=pd.concat([df_MI.loc[:end_Feb28-1,:],df_MI_Feb29,df_MI.loc[end_Feb28:,:]],axis=0)
df_MI=pd.concat([df_MI.loc[end_Jan:start_Jan,:],df_MI.loc[:,:],df_MI_2020,df_MI.loc[:,:]],axis=0)
df_MI=df_MI.reset_index(drop=True)

In [241]:
# MN
df_MN_Feb29=pd.DataFrame(df_MN.loc[end_Feb28:start_Feb28,:])
df_MN_2020=pd.concat([df_MN.loc[:end_Feb28-1,:],df_MN_Feb29,df_MN.loc[end_Feb28:,:]],axis=0)
df_MN=pd.concat([df_MN.loc[end_Jan:start_Jan,:],df_MN.loc[:,:],df_MN_2020,df_MN.loc[:,:]],axis=0)
df_MN=df_MN.reset_index(drop=True)

In [242]:
# MO
df_MO_Feb29=pd.DataFrame(df_MO.loc[end_Feb28:start_Feb28,:])
df_MO_2020=pd.concat([df_MO.loc[:end_Feb28-1,:],df_MO_Feb29,df_MO.loc[end_Feb28:,:]],axis=0)
df_MO=pd.concat([df_MO.loc[end_Jan:start_Jan,:],df_MO.loc[:,:],df_MO_2020,df_MO.loc[:,:]],axis=0)
df_MO=df_MO.reset_index(drop=True)

In [243]:
# MS
df_MS_Feb29=pd.DataFrame(df_MS.loc[end_Feb28:start_Feb28,:])
df_MS_2020=pd.concat([df_MS.loc[:end_Feb28-1,:],df_MS_Feb29,df_MS.loc[end_Feb28:,:]],axis=0)
df_MS=pd.concat([df_MS.loc[end_Jan:start_Jan,:],df_MS.loc[:,:],df_MS_2020,df_MS.loc[:,:]],axis=0)
df_MS=df_MS.reset_index(drop=True)

In [244]:
# MT
df_MT_Feb29=pd.DataFrame(df_MT.loc[end_Feb28:start_Feb28,:])
df_MT_2020=pd.concat([df_MT.loc[:end_Feb28-1,:],df_MT_Feb29,df_MT.loc[end_Feb28:,:]],axis=0)
df_MT=pd.concat([df_MT.loc[end_Jan:start_Jan,:],df_MT.loc[:,:],df_MT_2020,df_MT.loc[:,:]],axis=0)
df_MT=df_MT.reset_index(drop=True)

In [245]:
# NC
df_NC_Feb29=pd.DataFrame(df_NC.loc[end_Feb28:start_Feb28,:])
df_NC_2020=pd.concat([df_NC.loc[:end_Feb28-1,:],df_NC_Feb29,df_NC.loc[end_Feb28:,:]],axis=0)
df_NC=pd.concat([df_NC.loc[end_Jan:start_Jan,:],df_NC.loc[:,:],df_NC_2020,df_NC.loc[:,:]],axis=0)
df_NC=df_NC.reset_index(drop=True)

In [246]:
# ND
df_ND_Feb29=pd.DataFrame(df_ND.loc[end_Feb28:start_Feb28,:])
df_ND_2020=pd.concat([df_ND.loc[:end_Feb28-1,:],df_ND_Feb29,df_ND.loc[end_Feb28:,:]],axis=0)
df_ND=pd.concat([df_ND.loc[end_Jan:start_Jan,:],df_ND.loc[:,:],df_ND_2020,df_ND.loc[:,:]],axis=0)
df_ND=df_ND.reset_index(drop=True)

In [247]:
# NE
df_NE_Feb29=pd.DataFrame(df_NE.loc[end_Feb28:start_Feb28,:])
df_NE_2020=pd.concat([df_NE.loc[:end_Feb28-1,:],df_NE_Feb29,df_NE.loc[end_Feb28:,:]],axis=0)
df_NE=pd.concat([df_NE.loc[end_Jan:start_Jan,:],df_NE.loc[:,:],df_NE_2020,df_NE.loc[:,:]],axis=0)
df_NE=df_NE.reset_index(drop=True)

In [248]:
# NH
df_NH_Feb29=pd.DataFrame(df_NH.loc[end_Feb28:start_Feb28,:])
df_NH_2020=pd.concat([df_NH.loc[:end_Feb28-1,:],df_NH_Feb29,df_NH.loc[end_Feb28:,:]],axis=0)
df_NH=pd.concat([df_NH.loc[end_Jan:start_Jan,:],df_NH.loc[:,:],df_NH_2020,df_NH.loc[:,:]],axis=0)
df_NH=df_NH.reset_index(drop=True)

In [249]:
# NJ
df_NJ_Feb29=pd.DataFrame(df_NJ.loc[end_Feb28:start_Feb28,:])
df_NJ_2020=pd.concat([df_NJ.loc[:end_Feb28-1,:],df_NJ_Feb29,df_NJ.loc[end_Feb28:,:]],axis=0)
df_NJ=pd.concat([df_NJ.loc[end_Jan:start_Jan,:],df_NJ.loc[:,:],df_NJ_2020,df_NJ.loc[:,:]],axis=0)
df_NJ=df_NJ.reset_index(drop=True)

In [250]:
# NM
df_NM_Feb29=pd.DataFrame(df_NM.loc[end_Feb28:start_Feb28,:])
df_NM_2020=pd.concat([df_NM.loc[:end_Feb28-1,:],df_NM_Feb29,df_NM.loc[end_Feb28:,:]],axis=0)
df_NM=pd.concat([df_NM.loc[end_Jan:start_Jan,:],df_NM.loc[:,:],df_NM_2020,df_NM.loc[:,:]],axis=0)
df_NM=df_NM.reset_index(drop=True)

In [251]:
# NV
df_NV_Feb29=pd.DataFrame(df_NV.loc[end_Feb28:start_Feb28,:])
df_NV_2020=pd.concat([df_NV.loc[:end_Feb28-1,:],df_NV_Feb29,df_NV.loc[end_Feb28:,:]],axis=0)
df_NV=pd.concat([df_NV.loc[end_Jan:start_Jan,:],df_NV.loc[:,:],df_NV_2020,df_NV.loc[:,:]],axis=0)
df_NV=df_NV.reset_index(drop=True)

In [252]:
# NY
df_NY_Feb29=pd.DataFrame(df_NY.loc[end_Feb28:start_Feb28,:])
df_NY_2020=pd.concat([df_NY.loc[:end_Feb28-1,:],df_NY_Feb29,df_NY.loc[end_Feb28:,:]],axis=0)
df_NY=pd.concat([df_NY.loc[end_Jan:start_Jan,:],df_NY.loc[:,:],df_NY_2020,df_NY.loc[:,:]],axis=0)
df_NY=df_NY.reset_index(drop=True)

In [253]:
# OH
df_OH_Feb29=pd.DataFrame(df_OH.loc[end_Feb28:start_Feb28,:])
df_OH_2020=pd.concat([df_OH.loc[:end_Feb28-1,:],df_OH_Feb29,df_OH.loc[end_Feb28:,:]],axis=0)
df_OH=pd.concat([df_OH.loc[end_Jan:start_Jan,:],df_OH.loc[:,:],df_OH_2020,df_OH.loc[:,:]],axis=0)
df_OH=df_OH.reset_index(drop=True)

In [254]:
# OK
df_OK_Feb29=pd.DataFrame(df_OK.loc[end_Feb28:start_Feb28,:])
df_OK_2020=pd.concat([df_OK.loc[:end_Feb28-1,:],df_OK_Feb29,df_OK.loc[end_Feb28:,:]],axis=0)
df_OK=pd.concat([df_OK.loc[end_Jan:start_Jan,:],df_OK.loc[:,:],df_OK_2020,df_OK.loc[:,:]],axis=0)
df_OK=df_OK.reset_index(drop=True)

In [255]:
# OR
df_OR_Feb29=pd.DataFrame(df_OR.loc[end_Feb28:start_Feb28,:])
df_OR_2020=pd.concat([df_OR.loc[:end_Feb28-1,:],df_OR_Feb29,df_OR.loc[end_Feb28:,:]],axis=0)
df_OR=pd.concat([df_OR.loc[end_Jan:start_Jan,:],df_OR.loc[:,:],df_OR_2020,df_OR.loc[:,:]],axis=0)
df_OR=df_OR.reset_index(drop=True)

In [256]:
# PA
df_PA_Feb29=pd.DataFrame(df_PA.loc[end_Feb28:start_Feb28,:])
df_PA_2020=pd.concat([df_PA.loc[:end_Feb28-1,:],df_PA_Feb29,df_PA.loc[end_Feb28:,:]],axis=0)
df_PA=pd.concat([df_PA.loc[end_Jan:start_Jan,:],df_PA.loc[:,:],df_PA_2020,df_PA.loc[:,:]],axis=0)
df_PA=df_PA.reset_index(drop=True)

In [257]:
# RI
df_RI_Feb29=pd.DataFrame(df_RI.loc[end_Feb28:start_Feb28,:])
df_RI_2020=pd.concat([df_RI.loc[:end_Feb28-1,:],df_RI_Feb29,df_RI.loc[end_Feb28:,:]],axis=0)
df_RI=pd.concat([df_RI.loc[end_Jan:start_Jan,:],df_RI.loc[:,:],df_RI_2020,df_RI.loc[:,:]],axis=0)
df_RI=df_RI.reset_index(drop=True)

In [258]:
# SC
df_SC_Feb29=pd.DataFrame(df_SC.loc[end_Feb28:start_Feb28,:])
df_SC_2020=pd.concat([df_SC.loc[:end_Feb28-1,:],df_SC_Feb29,df_SC.loc[end_Feb28:,:]],axis=0)
df_SC=pd.concat([df_SC.loc[end_Jan:start_Jan,:],df_SC.loc[:,:],df_SC_2020,df_SC.loc[:,:]],axis=0)
df_SC=df_SC.reset_index(drop=True)

In [259]:
# SD
df_SD_Feb29=pd.DataFrame(df_SD.loc[end_Feb28:start_Feb28,:])
df_SD_2020=pd.concat([df_SD.loc[:end_Feb28-1,:],df_SD_Feb29,df_SD.loc[end_Feb28:,:]],axis=0)
df_SD=pd.concat([df_SD.loc[end_Jan:start_Jan,:],df_SD.loc[:,:],df_SD_2020,df_SD.loc[:,:]],axis=0)
df_SD=df_SD.reset_index(drop=True)

In [260]:
# TN
df_TN_Feb29=pd.DataFrame(df_TN.loc[end_Feb28:start_Feb28,:])
df_TN_2020=pd.concat([df_TN.loc[:end_Feb28-1,:],df_TN_Feb29,df_TN.loc[end_Feb28:,:]],axis=0)
df_TN=pd.concat([df_TN.loc[end_Jan:start_Jan,:],df_TN.loc[:,:],df_TN_2020,df_TN.loc[:,:]],axis=0)
df_TN=df_TN.reset_index(drop=True)

In [261]:
# TX
df_TX_Feb29=pd.DataFrame(df_TX.loc[end_Feb28:start_Feb28,:])
df_TX_2020=pd.concat([df_TX.loc[:end_Feb28-1,:],df_TX_Feb29,df_TX.loc[end_Feb28:,:]],axis=0)
df_TX=pd.concat([df_TX.loc[end_Jan:start_Jan,:],df_TX.loc[:,:],df_TX_2020,df_TX.loc[:,:]],axis=0)
df_TX=df_TX.reset_index(drop=True)

In [262]:
# UT
df_UT_Feb29=pd.DataFrame(df_UT.loc[end_Feb28:start_Feb28,:])
df_UT_2020=pd.concat([df_UT.loc[:end_Feb28-1,:],df_UT_Feb29,df_UT.loc[end_Feb28:,:]],axis=0)
df_UT=pd.concat([df_UT.loc[end_Jan:start_Jan,:],df_UT.loc[:,:],df_UT_2020,df_UT.loc[:,:]],axis=0)
df_UT=df_UT.reset_index(drop=True)

In [263]:
# VA
df_VA_Feb29=pd.DataFrame(df_VA.loc[end_Feb28:start_Feb28,:])
df_VA_2020=pd.concat([df_VA.loc[:end_Feb28-1,:],df_VA_Feb29,df_VA.loc[end_Feb28:,:]],axis=0)
df_VA=pd.concat([df_VA.loc[end_Jan:start_Jan,:],df_VA.loc[:,:],df_VA_2020,df_VA.loc[:,:]],axis=0)
df_VA=df_VA.reset_index(drop=True)

In [264]:
# VT
df_VT_Feb29=pd.DataFrame(df_VT.loc[end_Feb28:start_Feb28,:])
df_VT_2020=pd.concat([df_VT.loc[:end_Feb28-1,:],df_VT_Feb29,df_VT.loc[end_Feb28:,:]],axis=0)
df_VT=pd.concat([df_VT.loc[end_Jan:start_Jan,:],df_VT.loc[:,:],df_VT_2020,df_VT.loc[:,:]],axis=0)
df_VT=df_VT.reset_index(drop=True)

In [265]:
# WA
df_WA_Feb29=pd.DataFrame(df_WA.loc[end_Feb28:start_Feb28,:])
df_WA_2020=pd.concat([df_WA.loc[:end_Feb28-1,:],df_WA_Feb29,df_WA.loc[end_Feb28:,:]],axis=0)
df_WA=pd.concat([df_WA.loc[end_Jan:start_Jan,:],df_WA.loc[:,:],df_WA_2020,df_WA.loc[:,:]],axis=0)
df_WA=df_WA.reset_index(drop=True)

In [266]:
# WI
df_WI_Feb29=pd.DataFrame(df_WI.loc[end_Feb28:start_Feb28,:])
df_WI_2020=pd.concat([df_WI.loc[:end_Feb28-1,:],df_WI_Feb29,df_WI.loc[end_Feb28:,:]],axis=0)
df_WI=pd.concat([df_WI.loc[end_Jan:start_Jan,:],df_WI.loc[:,:],df_WI_2020,df_WI.loc[:,:]],axis=0)
df_WI=df_WI.reset_index(drop=True)

In [267]:
# WV
df_WV_Feb29=pd.DataFrame(df_WV.loc[end_Feb28:start_Feb28,:])
df_WV_2020=pd.concat([df_WV.loc[:end_Feb28-1,:],df_WV_Feb29,df_WV.loc[end_Feb28:,:]],axis=0)
df_WV=pd.concat([df_WV.loc[end_Jan:start_Jan,:],df_WV.loc[:,:],df_WV_2020,df_WV.loc[:,:]],axis=0)
df_WV=df_WV.reset_index(drop=True)

In [279]:
# WY
df_WY_Feb29=pd.DataFrame(df_WY.loc[end_Feb28:start_Feb28,:])
df_WY_2020=pd.concat([df_WY.loc[:end_Feb28-1,:],df_WY_Feb29,df_WY.loc[end_Feb28:,:]],axis=0)
df_WY=pd.concat([df_WY.loc[end_Jan:start_Jan,:],df_WY.loc[:,:],df_WY_2020,df_WY.loc[:,:]],axis=0)
df_WY=df_WY.reset_index(drop=True)

# 输出数据

In [281]:
# 拼接成温度数据
temperature=pd.concat([df_CA.loc[:,"HLY-TEMP-NORMAL"],
                       df_NC.loc[:,"HLY-TEMP-NORMAL"],df_SC.loc[:,"HLY-TEMP-NORMAL"],
                       df_ND.loc[:,"HLY-TEMP-NORMAL"],df_SD.loc[:,"HLY-TEMP-NORMAL"],df_NE.loc[:,"HLY-TEMP-NORMAL"],df_KS.loc[:,"HLY-TEMP-NORMAL"],df_MO.loc[:,"HLY-TEMP-NORMAL"],df_OK.loc[:,"HLY-TEMP-NORMAL"],df_AR.loc[:,"HLY-TEMP-NORMAL"],df_NM.loc[:,"HLY-TEMP-NORMAL"],df_TX.loc[:,"HLY-TEMP-NORMAL"],df_TX.loc[:,"HLY-TEMP-NORMAL"],df_LA.loc[:,"HLY-TEMP-NORMAL"],
                       df_FL.loc[:,"HLY-TEMP-NORMAL"],
                       df_IL.loc[:,"HLY-TEMP-NORMAL"],df_MI.loc[:,"HLY-TEMP-NORMAL"],df_IN.loc[:,"HLY-TEMP-NORMAL"],df_OH.loc[:,"HLY-TEMP-NORMAL"],df_PA.loc[:,"HLY-TEMP-NORMAL"],df_NJ.loc[:,"HLY-TEMP-NORMAL"],df_KY.loc[:,"HLY-TEMP-NORMAL"],df_WV.loc[:,"HLY-TEMP-NORMAL"],df_MD.loc[:,"HLY-TEMP-NORMAL"],df_DE.loc[:,"HLY-TEMP-NORMAL"],df_VA.loc[:,"HLY-TEMP-NORMAL"],df_NC.loc[:,"HLY-TEMP-NORMAL"],
                       df_MT.loc[:,"HLY-TEMP-NORMAL"],df_ND.loc[:,"HLY-TEMP-NORMAL"],df_ND.loc[:,"HLY-TEMP-NORMAL"],df_MN.loc[:,"HLY-TEMP-NORMAL"],df_WI.loc[:,"HLY-TEMP-NORMAL"],df_MI.loc[:,"HLY-TEMP-NORMAL"],df_IA.loc[:,"HLY-TEMP-NORMAL"],df_IL.loc[:,"HLY-TEMP-NORMAL"],df_IN.loc[:,"HLY-TEMP-NORMAL"],df_MO.loc[:,"HLY-TEMP-NORMAL"],df_KY.loc[:,"HLY-TEMP-NORMAL"],df_AR.loc[:,"HLY-TEMP-NORMAL"],df_LA.loc[:,"HLY-TEMP-NORMAL"],df_MS.loc[:,"HLY-TEMP-NORMAL"],df_TX.loc[:,"HLY-TEMP-NORMAL"],
                       df_ME.loc[:,"HLY-TEMP-NORMAL"],df_NH.loc[:,"HLY-TEMP-NORMAL"],df_VT.loc[:,"HLY-TEMP-NORMAL"],df_MA.loc[:,"HLY-TEMP-NORMAL"],df_CT.loc[:,"HLY-TEMP-NORMAL"],df_RI.loc[:,"HLY-TEMP-NORMAL"],
                       df_NY.loc[:,"HLY-TEMP-NORMAL"],
                       df_WA.loc[:,"HLY-TEMP-NORMAL"],df_OR.loc[:,"HLY-TEMP-NORMAL"],df_ID.loc[:,"HLY-TEMP-NORMAL"],df_MT.loc[:,"HLY-TEMP-NORMAL"],df_WY.loc[:,"HLY-TEMP-NORMAL"],df_NV.loc[:,"HLY-TEMP-NORMAL"],df_UT.loc[:,"HLY-TEMP-NORMAL"],df_CO.loc[:,"HLY-TEMP-NORMAL"],
                       df_MS.loc[:,"HLY-TEMP-NORMAL"],df_AL.loc[:,"HLY-TEMP-NORMAL"],df_GA.loc[:,"HLY-TEMP-NORMAL"],df_FL.loc[:,"HLY-TEMP-NORMAL"],
                       df_NV.loc[:,"HLY-TEMP-NORMAL"],df_AZ.loc[:,"HLY-TEMP-NORMAL"],df_NM.loc[:,"HLY-TEMP-NORMAL"],
                       df_KY.loc[:,"HLY-TEMP-NORMAL"],df_TN.loc[:,"HLY-TEMP-NORMAL"],df_NC.loc[:,"HLY-TEMP-NORMAL"],df_MS.loc[:,"HLY-TEMP-NORMAL"],df_AL.loc[:,"HLY-TEMP-NORMAL"],df_GA.loc[:,"HLY-TEMP-NORMAL"],
                       df_TX.loc[:,"HLY-TEMP-NORMAL"]],axis=1)
# 更改列名
temperature.columns=["California",
                     "North Carolina(Majority)","South Carolina",
                     "North Dakota(Central)","South Dakota","Nebraska","Kansas","Missouri(East)","Oklahoma","Arkansas(West border)","New Mexico(Eastern border)","Texas(Northwest)","Texas(Northeast)","Louisiana(Northwest corner)",
                     "Florida(Majority)",
                     "Illinois(North)","Michigan(Westsouth corner)","Indiana(Northeast)","Ohio","Pennsylvania","New Jersey","Kentucky(East)","West Virginaia","Maryland","Delaware","Virginaia","North Carolina(Northeast corner)",
                     "Montana(North border)","North Dakota(East)","North Dakota(Southwest corner)","Minnesota","Wisconsin","Michigan(Majority)","Iowa","Illinois(Majority)","Indiana(Majority)","Missouri(Majority)","Kentucky(Northwest)","Arkansas(Majority)","Louisiana(Majority)","Mississippi(West)","Texas(Middleeast)",
                     "Maine","New Hampshire","Vermout","Massachusetts","Connecticut","Rhode Island",
                     "New York",
                     "Washington","Oregon","Idaho","Montana(Majority)","Wyoming","Nevada(Majority)","Utah","Colorado",
                     "Mississippi(East)","Alabama(Majority)","Georgia(Majority)","Florida(Northwest)",
                     "Nevada(South)","Arizona","New Mexico(Majority)",
                     "Kentucky(Southwest)","Tennessee","North Carolina(Western border)","Mississippi(Middle)","Alabama(Northern border)","Georgia(Northern border)",
                     "Texas(Majority)"]
temperature

,California,North Carolina(Majority),South Carolina,North Dakota(Central),South Dakota,Nebraska,Kansas,Missouri(East),Oklahoma,Arkansas(West border),...,Nevada(South),Arizona,New Mexico(Majority),Kentucky(Southwest),Tennessee,North Carolina(Western border),Mississippi(Middle),Alabama(Northern border),Georgia(Northern border),Texas(Majority)
0,48.27375,41.116,44.24375,12.050000,18.370,23.991304,30.724,31.250000,36.400000,39.710526,...,35.780000,42.384211,32.721053,34.508333,38.008333,41.116,45.723077,43.425926,45.765385,48.497222
1,49.17250,41.904,45.13750,12.550000,18.815,24.743478,31.556,31.904545,37.309091,40.447368,...,36.593333,43.800000,33.910526,35.141667,38.658333,41.904,46.500000,44.137037,46.773077,49.498611
2,50.23750,42.776,46.14375,13.000000,19.405,25.556522,32.488,32.627273,38.395455,41.315789,...,37.780000,45.405263,35.326316,35.800000,39.450000,42.776,47.338462,44.977778,47.888462,50.716667
3,51.48375,43.864,47.35000,13.566667,20.065,26.600000,33.720,33.450000,39.886364,42.357895,...,39.060000,47.400000,37.047368,36.625000,40.483333,43.864,48.376923,45.962963,49.253846,52.241667
4,53.07875,45.316,49.04375,14.383333,21.055,28.026087,35.464,34.545455,41.904545,43.705263,...,40.726667,49.952632,39.289474,37.608333,41.816667,45.316,49.792308,47.333333,51.142308,54.379167
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27043,41.72750,39.480,42.50625,10.958333,15.720,18.643478,25.724,28.336364,31.259091,36.100000,...,26.853333,34.415789,24.663158,33.208333,35.741667,39.480,43.492308,41.451852,44.188462,42.773611
27044,42.17500,39.928,43.00625,11.200000,15.905,18.969565,26.220,28.736364,31.722727,36.563158,...,27.413333,35.057895,25.242105,33.541667,36.108333,39.928,43.846154,41.825926,44.538462,43.227778
27045,42.69875,40.372,43.50000,11.408333,16.115,19.269565,26.680,29.200000,32.136364,37.021053,...,27.893333,35.642105,25.831579,33.925000,36.458333,40.372,44.307692,42.192593,44.973077,43.729167
27046,43.23875,40.796,43.96250,11.633333,16.325,19.669565,27.196,29.663636,32.636364,37.468421,...,28.373333,36.389474,26.515789,34.300000,36.858333,40.796,44.823077,42.600000,45.530769,44.329167
27047,43.87125,41.332,44.61250,11.908333,16.615,20.134783,27.768,30.209091,33.222727,38.015789,...,29.006667,37.194737,27.331579,34.783333,37.325000,41.332,45.346154,43.070370,46.092308,45.023611

In [282]:
f3path="./temperature.xlsx"
temperature.to_excel(f3path)